<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.ITreeDao" >
  <resultMap id="BaseResultMap" type="com.jk.bean.wyc.Tree" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="text" property="text" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, text, pid, url
  </sql>
  
  <select id="selectTreeList" resultMap="BaseResultMap" parameterType="com.jk.bean.wyc.Tree">
  select * from t_tree
  </select>
  <select id="tuTree" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  select * from t_tree where id=#{id}
  </select>
  
  <insert id="addTree" parameterType="com.jk.bean.wyc.Tree">
    insert into t_tree
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="text != null" >
        text,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="url != null" >
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="text != null" >
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <delete id="deleteTree" parameterType="java.lang.Integer" >
    delete from t_tree
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <update id="UpdateTree" parameterType="com.jk.bean.wyc.Tree" >
    update t_tree
    <set > 
      <if test="text != null" >
        text = #{text,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="getTree" resultType="com.jk.bean.wyc.Tree">
    select * from  t_tree
  </select>

</mapper>