<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <!-- 配置springMVC的前端控制器 -->
  <servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring-mvc.xml</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <!-- 解决Post提交中文乱码 -->
	<filter>
		<filter-name>encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!--spring 监听器-->
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    
  
	
    <!--修改默认加载的主spring配置文件其他配置文件-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring-*.xml
        </param-value>
    </context-param>
    <!-- 验证码 -->
     <!-- <servlet>
    	<servlet-name>AuthImage</servlet-name>
    	<servlet-class>com.jk.util.AuthImage</servlet-class>
    </servlet>-->
    
   <!-- <servlet-mapping>
    	<servlet-name>AuthImage</servlet-name>
    	<url-pattern>/authImage</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
     <servlet-name>default</servlet-name>
     <url-pattern>*.js</url-pattern>
 	</servlet-mapping>
  <display-name>ssm-nba-manage</display-name>
  <welcome-file-list>
    
    <welcome-file>zxl/long.jsp</welcome-file>
  </welcome-file-list>
</web-app>